.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid #000000;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.block-item {
    width: 150px;
    height: 150px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
}